@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@fortawesome/fontawesome-free/css/all.css';

:root {
  --navbar-height: 4rem;
  --base-150: #f6f6f6;
}

html,
body {
  height: 100%;
}
